@using ShopWithMe
@model dynamic

@{
    ViewData["Title"] = "Create New List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>.:: Create New List ::.</h1>
    <hr />
</center>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">New List</th>
                <th scope="col">My Favorite Items</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <ul class="list-group">

                        @foreach (string product in Model.Products)
                        {
                            <li class="list-group-item">
                                @Html.DisplayFor(modelItem => product)

                                @Html.ActionLink("Delete", "Delete_product", "NewList", new { Page_type = "CreateNewlist", Nameproduct = product, listproducts = Model.Products, favorites = Model.Favorites }, new { @class = "btn btn-primary" })
                            </li>
                        }

                    </ul>
                </th>

                <th scope="row">
                    <ul class="list-group">
                        @foreach (string item in Model.Favorites)
                        {
                            <li class="list-group-item">
                                @Html.DisplayFor(modelItem => item) 
                                @using (Html.BeginForm("Add_Update", "NewList", new { Page_type = "CreateNewlist", Nameproduct = item, listproducts = Model.Products, favorites = Model.Favorites }))
                                {
                                    <input type="number" value="1" name="quantity" min="1" max="50" />
                                    <input type="submit" value="add" class="btn btn-primary" />}


                            </li>
                        }
                    </ul>
                </th>
            </tr>

        </tbody>

    </table>

    @using (Html.BeginForm("Add_Update", "NewList", new { Page_type = "CreateNewlist", listproducts = Model.Products, favorites = Model.Favorites }))
    {
        <div class="form-group" style="float:left;">
            <a>Add/Update Product</a>
            <input type="text" name="Nameproduct" required />
            <input type="number" value="1" name="quantity" min="1" max="50" />
            <input type="submit" value="add" class="btn btn-primary" />
        </div>
    }
</div>
<div style="float:right;">
    @using (Html.BeginForm("Save", "NewList", new { listproducts = Model.Products, favorites = Model.Favorites }))

    {<div class="form-group">
            <a>List Name</a>

            <input type="text" name="namelist" required />
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }
</div>

<br /><br />

<center>

    <hr />
    <div>
        <a asp-action="Index">>> Back to List <<</a>
    </div>
</center>