@model ShopWithMe.Models.NewList

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>.:: Delete List ::.</h1>
    <hr />
    <h3>Are you sure you want to delete this?</h3>
    <hr />
</center>

<div>
    <center><h4>List Name : @Model.NameList</h4></center>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" style="float:right">>> Back to List <<</a>
    </form>
</div>
