@model IEnumerable<ShopWithMe.Models.NewList>

@{
    ViewData["Title"] = "My Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>.:: My Lists ::.</h1>
    <hr />
    <p>
        <a asp-action="CreateNewlist" >>> Create New List <<</a>
    </p>
    <hr />
</center>

<table class="table">
    <tr>
        @foreach (var item in Model)
        {
        <td>
            @Html.ActionLink(item.NameList, "Edit", new { Id = item.Id }, new { @class = "btn-rounded btn btn-info " })
        </td>
        }
    </tr>
</table>
