@model IEnumerable<ShopWithMe.Models.NewList>

@{
    ViewData["Title"] = "My Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        body {
            background-image: url(https://smallaxepeppers.com/wp-content/uploads/2019/05/Fresh-farmers-market-fruit-and-vegetable-from-above-with-copy-space-e1432779252529.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1 {
            text-shadow: 2px 2px 5px gold;
            font-family: Garamond, serif;
        }

        .div {
            width: 200px;
            opacity: 60%;
        }

            .div:hover {
                opacity: 100%;
            }

        .div_scroll {
            width: 100%;
            height: 250px;
            overflow: auto;
        }

        .div_marquee {
            box-shadow: 5px 10px gold;
            background-color: darkgrey;
            font-family: 'Copperplate Gothic';
            font-size: x-large;
            text-shadow: 2px 2px 8px gold;
            height: 30px;
            margin: 40px;
            opacity: 90%;
        }

        .item_table {
            background-color: lightgray;
            text-align: center;
            width: 100%;
            border: 5px double gold;
            margin: 10px;
            padding: 20px;
        }

    </style>
</head>
<body>
    <div style="opacity:90%;background-color:darkgrey">
        <center>

            @*Title*@
            <div>
                <h1>.:: My Lists ::.</h1>
                <hr />
                <p>
                    <a asp-action="CreateNewlist">>> Create New List <<</a>
                </p>
                <hr />
            </div>

            @*List Table*@
            <div class="div_scroll">
                <table class="table">
                    <tbody>
                        @for (int i = 0, j = 0; i < Model.ToArray().Length;)
                        {
                            <tr>
                                @while (j <= 1)
                                {
                                    <td>
                                        <div class="div">
                                            <table class="item_table">
                                                <tr>
                                                    <td>
                                                        @Html.ActionLink(Model.ToArray()[i].NameList, "Edit", new { Id = Model.ToArray()[i].Id }, new { @class = "btn-rounded btn btn-info " })
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    j++;
                                    i++;
                                    @if (i >= Model.ToArray().Length)
                                        break;
                                }
                                @if (j > 1)
                                {
                                    j = 0;
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </center>
    </div>

    @*Marquee*@
    <div class="div_marquee">
        <marquee behavior="scroll" direction="right" scrollamount="12">
            <p> .:: Shop With Me Always With You ::. </p>
        </marquee>
    </div>
</body>