@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Created by Firas Naarani & Yakir Panker</p>

<address>
    <b>
        Israel, Nazareth<br />
        <abbr title="Phone">Phone :</abbr>
        052-2918291
    </b>
    <br />
    <strong>Support & Marketing:</strong>   <a href="mailto:firas.narani.1999@gmail.com">firas.narani.1999@gmail.com</a><br />
    <hr />
    <b>
        Israel, Afula<br />
        <abbr title="Phone">Phone :</abbr>
        0526696799
    </b>
    <br />
    <strong>Support & Marketing:</strong>   <a href="mailto:yakirpanker@gmail.com">yakirpanker@gmail.com</a><br />
</address>