@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/style.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        h1, h4, h2 {
            font-family: Garamond, serif;
        }

        h1 {
            text-shadow: 2px 2px 5px gold;
        }

        h2 {
            text-shadow: 2px 2px 5px red;
        }

        h4 {
            text-shadow: 2px 2px 5px gold;
        }
    </style>
</head>

<body style="background-image: url(https://smallaxepeppers.com/wp-content/uploads/2019/05/Fresh-farmers-market-fruit-and-vegetable-from-above-with-copy-space-e1432779252529.jpg)">
    <div style="opacity:90%;background-color:darkgrey">
       
        @*Title*@
        <div class="text-center">
            <h1 class="display-4">.:: Welcome To Shop With Me ::.</h1>
            <hr />
            <div>
                <h4 style="border: 5px outset red; background-color:cadetblue; text-align: center;">
                    .:: Join Us And Make It Easy , Don't Waste Time ::.
                </h4>
            </div>
        </div>

        @*Carousel Slide*@
        <div>
            <section class="home">
                <div id="carousel" class="carousel slide" data-ride="carousel" style="height:inherit;">
                    <div class="carousel-controls">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"</li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                            <li data-target="#carousel" data-slide-to="3"></li>

                        </ol>
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <img src="~/Pic/left-arrow.svg" alt="Prev">
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <img src="~/Pic/right-arrow.svg" alt="Next">
                        </a>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <h2>My Items View</h2>
                                        </td>
                                        <td>
                                            <img src="~/Pic/My Items.png" width="450px" height="350px" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <h2>My Lists View</h2>
                                        </td>
                                        <td>
                                            <img src="~/Pic/My Lists.png" width="450px" height="350px" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <h2>New List View</h2>
                                        </td>
                                        <td>
                                            <img src="~/Pic/New List.png" width="450px" height="350px" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <h2>My Invoices View</h2>
                                        </td>
                                        <td>
                                            <img src="~/Pic/My Invoices.png" width="450px" height="350px" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>