@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/style.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        h1, h3, h4 {
            font-family: Garamond, serif;
        }

        h1 {
            text-shadow: 2px 2px 5px gold;
        }

        h3 {
            text-shadow: 2px 2px 5px red;
        }

        h4 {
            text-shadow: 2px 2px 5px gold;
        }

        .table {
            text-align: center;
        }

        .div_marquee {
            box-shadow: 5px 10px gold;
            background-color: darkgrey;
            font-family: 'Copperplate Gothic';
            font-size: x-large;
            text-shadow: 2px 2px 8px gold;
            height: 30px;
            margin: 40px;
            opacity: 90%;
        }

        body {
            background-image: url(https://smallaxepeppers.com/wp-content/uploads/2019/05/Fresh-farmers-market-fruit-and-vegetable-from-above-with-copy-space-e1432779252529.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    </style>
</head>

<body style="background-image: url(https://smallaxepeppers.com/wp-content/uploads/2019/05/Fresh-farmers-market-fruit-and-vegetable-from-above-with-copy-space-e1432779252529.jpg)">
    <div style="opacity:90%;background-color:darkgrey;width:auto">

        @*Title*@
        <div class="text-center">
            <h1 class="display-5">Welcome To Shop With Me</h1>
            <hr />
            <div>
                <h4 style="border: 5px outset red; background-color:cadetblue; text-align: center;">
                    .:: Join Us And Make It Easy , Don't Waste Time ::.
                </h4>
            </div>
        </div>

        @*Carousel Slide*@
        <div style="width:contain">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h1>Application Views</h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="/Pic/My Items.png" alt="My Items View">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/Pic/My Lists.png" alt="My Lists View">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/Pic/New List.png" alt="New List View">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/Pic/My Invoices.png" alt="My Invoices View">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @*Marquee*@
    <div class="div_marquee">
        <marquee behavior="scroll" direction="right" scrollamount="12">
            <p> .:: Shop With Me Always With You ::. </p>
        </marquee>
    </div>
    <br /><br />
</body>