@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/style.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .Product_Items_table {
            width: 100%;
            border:dotted;
        }
            .Product_Items_table tr, td {
                border: 1px solid black;
                border-radius: 10px;
                width:stretch
            }
    </style>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">.:: Cart Online ::.</h1>
        <hr />
        <div>
            <h4 style="border: 5px outset red; background-color:lavender; text-align: center;">
                .:: Shopping Items ::.
            </h4>
            <div>
                <table align="center" class="Product_Items_table">
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <a>Item1</a>
                        </td>
                        <td>
                            <a>Add</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <a>Item1</a>
                        </td>
                        <td>
                            <a>Add</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <a>Item1</a>
                        </td>
                        <td>
                            <a>Add</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <a>Item1</a>
                        </td>
                        <td>
                            <a>Add</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <a>Item1</a>
                        </td>
                        <td>
                            <a>Add</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <a>Item1</a>
                        </td>
                        <td>
                            <a>Add</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <hr />
        
        <div>
            <h4 style="border: 5px outset red; background-color:lavender; text-align: center;">
                .:: Online Shopping Cart ::.
            </h4>
            <table align="center" class="Product_Items_table">
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <a>Item1</a>
                    </td>
                    <td>
                        <a>Add</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <a>Item1</a>
                    </td>
                    <td>
                        <a>Add</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <a>Item1</a>
                    </td>
                    <td>
                        <a>Add</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <a>Item1</a>
                    </td>
                    <td>
                        <a>Add</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <a>Item1</a>
                    </td>
                    <td>
                        <a>Add</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <a>Item1</a>
                    </td>
                    <td>
                        <a>Add</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>